@mixin border_radius($radius){
	border-radius:$radius;
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius;
}

.weatherDayBlock{
	@include border_radius(10px);
	color:#157fcc;
	margin:20px;
	padding:10px 30px;
	background:#ADD2ED;
	border:1px solid #157fcc;
	&:hover{
		background:#157fcc;
		color:#fff;
	}
}

.weatherDayHour{
	@include border_radius(5px);
	margin:5px;
	width:130px;
	padding:10px;
	background:#157fcc;
	border:1px solid #ADD2ED;

}
#weatherDaily{
	display:flex !important;
	flex-wrap:wrap;
	align-content:flex-start;
}

#daysWeatherHourly{
	display:flex !important; 
	flex-wrap:wrap;
	align-content:flex-start;
}
.height_300{
	height:300px !important;
}