@mixin border_radius($radius){
	border-radius:$radius;
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius;
}

.font_color_and_hover_theme_style{
	color:#157fcc;
	background:#ADD2ED;
	border:1px solid #157fcc;
	&:hover{
		background:#157fcc;
		color:#fff;
	}

}

.weatherDayBlock{
	@include border_radius(5px);
	@extend .font_color_and_hover_theme_style;
	margin-top:20px;
	flex: 1 1 200px;
	padding:10px 30px;
	text-align:center;
	border-top:0;
}

.weatherDayHour{
	@include border_radius(5px);
	margin:5px;
	width:130px;
	padding:10px;
	background:#157fcc;
	border:1px solid #ADD2ED;
}

#weatherDaily{
	display:flex !important;
	flex-wrap:wrap;
	align-content:flex-start;
	& div.x-dataview-item{
		flex:1 1 150px;
	}
}

#daysWeatherHourly{
	display:flex !important; 
	flex-wrap:wrap;
	align-content:flex-start;
}

.height_300{
	height:300px !important;
}

.sixteenWeatherDayBlock{
	position:relative;
	@extend .font_color_and_hover_theme_style;
	height:50px;
	line-height:50px;
	text-align:center;
	width:300px;
	font-size:20px;
	&:hover .weatherDescription{
		display:block;
	}
}

.tempMax{
		color:#ffa63a
}

.tempMin{
		color:#f9f154
}

.tempNight{
		color:#fff
}

.weatherDescription{
	display:none;
	position:absolute;
	top:0;
	left:300px;
	width:300px;
	height:300px;
	background:#157fcc;
	& img{
		width:100px
	}
}